.pages {
	display: flex;
}

.item {
	padding-top: 8px;
	display: block;
	width: 40px;
	height: 40px;
}

.page,
.prev,
.next,
.break {
	display: block;
}

.page {
	margin-right: 10px;
	text-align: center;
	color: #707070;
	border-radius: 4px;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}

.page:hover {
	background-color: #d9d9d9;
}

.page_active,
.page_active:hover {
	background-color: #e4163a;
	color: #fff;
}

.break {
	color: #707070;
}

.prev,
.next {
	background-position: center;
	background-repeat: no-repeat;
}

.prev {
	background-image: url('../../assets/images/chevron_left.svg');
}

.next {
	background-image: url('../../assets/images/chevron_right.svg');
}
