input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.myInput input {
	width: 100%;
}

.myInput {
	min-height: 92px;
	position: relative;
}

.myInput input[type='text'] {
	letter-spacing: 0.02em;
}

.myInput input[type='password'] {
	letter-spacing: 0.14em;
	font-size: 12px;
}

.myInput input[type='date'] {
	cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.label {
	font-size: 14px;
	line-height: 24px;
	color: #707070;
	display: flex;
	flex-direction: column;
	text-wrap: nowrap;
}

.myInput input {
	background-color: #f6f6f6;
	border: none;
	border-radius: 4px;
	height: 40px;
	padding-left: 15px;
	margin-top: 3px;
	font-family: 'Avenir Book';
}

.myInput input:hover {
	background-color: #d1d1d1;
}

.myInput input:focus {
	box-shadow: 0 0 5px #d9d9d9;
	caret-color: rgba(0, 0, 0, 0.35);
}

.myInput input:hover ~ .date_icon,
.date_icon:hover {
	filter: invert(40%);
}

.myInput input:focus {
	outline: none;
}

.myInput input:disabled {
	color: #d1d1d1;
	background-color: #f6f6f6;
}

.date_icon {
	background-image: url('../../../assets/images/calendar-blank.svg');
}

.date_icon,
.field_icon_close,
.field_icon_open {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 39px;
	right: 12px;
	cursor: pointer;
	user-select: none;
}

.field_icon_close {
	background-image: url('../../../assets/images/close_eye_rounded.svg');
}

.field_icon_open {
	background-image: url('../../../assets/images/eye_rounded.svg');
}

input:invalid[data-focused='true'] {
	border: 0.5px solid #ff768e;
}

input:invalid[data-focused='true'] ~ .error_message,
.error_message_show {
	text-wrap: wrap;
	margin-top: 5px;
	font-size: 12px;
	color: #ff768e;
}
input:disabled ~ .error_message,
input:valid ~ .error_message,
input:invalid[data-focused='false'] ~ .error_message,
.error_message_disable {
	display: none;
}
