@media (min-width: 0px) and (min-height: 0px) {
	.photo {
		max-width: 40%;
		max-height: 40%;
		margin-top: 10px;
	}
}

@media (min-width: 0px) and (min-height: 730px) {
	.photo {
		max-height: 150px;
		max-width: 150px;
		margin-top: 50px;
	}
}

@media (min-width: 768px) and (min-height: 730px) {
	.photo {
		width: 100%;
		min-height: 10%;
		min-width: 10%;
		max-height: 60%;
		max-width: 60%;
		margin-top: 10px;
	}
}

.photo {
	object-fit: contain;
	animation: all 0.3s ease-in-out;
}

.card {
	justify-content: flex-end;
}

.caption span {
	color: #ff5761;
}

.caption h3 {
	color: #fff;
	font-family: 'Avenir Black';
	line-height: 24px;
	padding-bottom: 10px;
	padding: 0px 10px;
}
