@media (min-width: 0px) and (min-height: 0px) {
	.photo {
		margin-top: 10px;
		max-width: 100px;
		max-height: 75px;
		width: 100px;
		height: 75px;
	}
}

@media (min-width: 768px) and (min-height: 0px) {
	.photo {
		margin-top: 0;
		max-height: 80px;
		height: 80px;
	}
}


@media (min-width: 0px) and (min-height: 930px) {
	.photo {
		margin-top: 20px;
		max-height: 100px;
		height: 100px;
	}
}

@media (min-width: 768px) and (min-height: 700px) {
	.photo {
		margin-top: 0;
		max-height: 125px;
		height: 125px;
	}
}


@media (min-width: 768px) and (min-height: 930px) {
	.photo {
		margin-top: 0;
		max-width: 300px;
		max-height: 200px;
		width: 300px;
		height: 200px;
	}
}


.photo {
	object-fit: contain;
	transition: all 0.1s ease-out;
	min-height: 50px;
	min-width: 50px;
	max-width: 300px;
	width: 300px;
}

.card {
	justify-content: flex-end;
}

.caption span {
	color: #ff5761;
}

.caption h3 {
	color: #fff;
	font-family: 'Avenir Black';
	line-height: 24px;
	padding-bottom: 10px;
	padding: 0px 10px;
}
