@media (min-width: 768px) {
	.search {
		max-width: 364px;
		min-width: 130px;
	}

	.container {
		max-width: 364px;
		min-width: 130px;
	}
}
.container {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.search {
	letter-spacing: 0.02em;
	border: 0.5px solid #d1d1d1;
	background-color: #fff;
	border-radius: 4px;
	height: 40px;
	padding-left: 12px;
	font-family: 'Avenir Regular';
	font-size: 14px;
	line-height: 24px;
}

.search_icon {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 15px;
	opacity: 0.7;
	background-image: url('../../../assets/images/search_rounded.svg');
}

.search:hover {
	background-color: #e7e7e7;
}

.search:focus {
	box-shadow: 0 0 5px #d9d9d9;
	caret-color: rgba(0, 0, 0, 0.35);
}

.search:focus {
	outline: none;
}

.search:disabled {
	color: #d1d1d1;
	background-color: #f6f6f6;
}
