@media (min-width: 0px) {

	.logo {
		max-height: 70px;
		max-width: 70px;
		margin-bottom: 115px;
		margin-top: 20px;
	}
}

@media (min-width: 768px) {

	.logo {
		max-height: 160px;
		max-width: 160px;
		margin-bottom: 120px;
	}

}

.card{
	justify-content: center;
}

.caption{
	bottom: 0;
    position: absolute;
}

.logo {
	padding: 5px 9px;
}

.caption h3 {
	color: #fff;
	font-family: 'Avenir Book';
	font-weight: 500;
	line-height: 24px;
	padding-bottom: 10px;
	padding: 0px 10px;
}