@media (min-width: 0px) and (min-height: 0px) {
	.logo {
		margin-top: 10px;
		margin-bottom: 105px;
		max-height: 80px;
		max-width: 80px;
	}
}

@media (min-width: 768px) and (min-height: 0px) {
	.logo {
		margin-top: 0;
		margin-bottom: 90px;
		max-height: 90px;
		max-width: 90px;
		width: 90px;
		height: 90px;
	}
}

@media (min-width: 0px) and (min-height: 825px) {
	.logo {
		margin-top: 20px;
		margin-bottom: 115px;
		max-height: 80px;
		max-width: 80px;
	}
}

@media (min-width: 768px) and (min-height: 825px) {
	.logo {
		margin-top: 0;
		margin-bottom: 140px;
		max-height: 150px;
		max-width: 150px;
		width: 150px;
		height: 150px;
	}
}

.card {
	justify-content: center;
}

.card:hover .logo{
	transform: scale(1.05);
}

.caption {
	bottom: 0;
	position: absolute;
}

.logo {
	padding: 5px;
	object-fit: contain;
	min-height: 50px;
	min-width: 50px;
	transition: all 0.1s ease-out;
}

.caption h3 {
	color: #fff;
	font-family: 'Avenir Book';
	font-weight: 500;
	line-height: 24px;
	padding-bottom: 10px;
	padding: 0px 10px;
}
