@media (min-width: 200px) {
	.items {
		left: -15px;
	}
}

@media (min-width: 768px) {
	.items {
		left: 0;
	}
}

.container {
	position: relative;
	display: flex;
	flex-direction: row;
}

.selector {
	height: 40px;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	font-size: 14px;
	font-family: 'Avenir Regular';
	padding: 8px 15px 8px 18px;
	outline: none;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	min-width: 88px;
	color: #303030;
}

.selector::after {
	content: '';
	position: absolute;
	height: 24px;
	border-left: 1px solid #d1d1d1;
	top: 8px;
	right: 32px;
}

.items {
	position: absolute;
	top: calc(-1 * var(--item_height) * var(--itemsCount) - 5px);
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	min-width: 88px;
	font-size: 14px;
}

.item {
	display: block;
	height: 40px;
	border-bottom: 1px solid #d1d1d1;
	padding-left: 18px;
	padding-top: 8px;
	color: #9c9c9c;
}

.item:hover.item:first-child, .item:active.item:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.item:hover.item:last-child, .item:active.item:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.item:hover {
	background-color: #ff768e;
	color: #fff;
}

.item:active {
	color: #fff;
	background-color: #c60e2e;
}

.item:last-child {
	border-bottom: none;
}

.arrow {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 8px;
	right: 5px;
	background-image: url('../../../assets/images/expand_arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.arrow_animation_up {
	animation: rotateUp 0.2s;
	animation-fill-mode: forwards;
}

.arrow_animation_down {
	animation: rotateDown 0.2s;
	animation-fill-mode: forwards;
}

.items_hide,
.item_hide {
	display: none;
}

@keyframes rotateUp {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes rotateDown {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
