@media (min-width: 0) {
	.image_input {
		height: 20vh;
		width: 50vw;
		margin: 20px 0 40px 0;
	}
}

@media (min-width: 768px) {
	.image_input {
		width: 25vw;
		height: 25vh;
	}
}

.image_input {
	position: relative;
	background-color: #d1d1d1;
	border-radius: 10px;
	background-image: url('../../../assets/images/add_a_photo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
	animation: reveal 0.3s;
}

.image_input:hover {
	background-color: #888;
}

.image_input input {
	display: none;
}

.background_image{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0.1;
}