@font-face {
	font-family: 'Avenir Regular';
	src: url('assets/fonts/Avenir\ Regular.ttf');
}

@font-face {
	font-family: 'Avenir Book';
	src: url('assets/fonts/Avenir\ Book.ttf');
}

@font-face {
	font-family: 'Avenir Black';
	src: url('assets/fonts/Avenir\ Black.ttf');
}

:root {
	--item_height: 40px;
	--itemsCount: 1;
	--mobile_overflow: auto;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); /* mobile touch highlights */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Avenir Regular';
	background-color: #f6f6f6;
	user-select: none;
}