@font-face {
	font-family: 'Avenir Regular';
	src: url('assets/fonts/Avenir\ Regular.ttf');
}

@font-face {
	font-family: 'Avenir Book';
	src: url('assets/fonts/Avenir\ Book.ttf');
}

@font-face {
	font-family: 'Avenir Black';
	src: url('assets/fonts/Avenir\ Black.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Regular';
	background-color: #f6f6f6;
	user-select: none;
}